import(httr)
import(dplyr)
import(jsonlite)
importFrom(urltools, url_encode)
importFrom(utils, packageVersion)
importFrom(methods, new)

exportClasses("Rosio")

S3method(print, RosioDataset)
S3method(print, RosioDevice)

S3method(messages, RosioDataset)
S3method(messages, RosioDevice)

export(
    ## user and authentication
    Rosio,
    username, password, jwt, key,
    "username<-", "password<-", "jwt<-", "key<-",
    whoami, getJWTtoken,
    ## datasets
    dataset,
    ## devices
    device, devices,
    ## messages
    messages
)
